Repository nice-move/nice-move: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Add renovate.json
  renovate.json
Due: prettier --write

add tests
  .eslintrc
  .lintstagedrc
  package.json
  tests/index.js
  yarn.lock
Due: prettier --write, eslint --fix

base config
  package.json
  packages/eslint-config-base/index.js
  packages/eslint-config-base/package.json
  packages/stylelint-config/package.json
  yarn.lock
Due: prettier --write, eslint --fix

eslint config
  .eslintrc
  .lintstagedrc
  package.json
  packages/eslint-config-base/index.js
  packages/eslint-config-base/lib/base.js
  packages/eslint-config-base/package.json
  packages/eslint-config-base/readme.md
  packages/eslint-config-react/index.js
  packages/eslint-config-react/package.json
  packages/eslint-config-react/readme.md
  packages/eslint-config-vue/index.js
  packages/eslint-config-vue/package.json
  packages/eslint-config-vue/readme.md
  packages/stylelint-config/package.json
  tests/index.js
  yarn.lock
Due: prettier --write, eslint --fix

add vscode
  .eslintrc
  LICENSE
  packages/vscode-config-base/package.json
  packages/vscode-config-env/package.json
Due: prettier --write

add vue config add react config add base config add tests
  .eslintrc
  .lintstagedrc
  LICENSE
  package.json
  packages/cli/index.js
  packages/cli/package.json
  packages/cli/template/editorconfig.ini
  packages/eslint-config-base/index.js
  packages/eslint-config-base/lib/base.js
  packages/eslint-config-base/package.json
  packages/eslint-config-base/readme.md
  packages/eslint-config-react/index.js
  packages/eslint-config-react/package.json
  packages/eslint-config-react/readme.md
  packages/eslint-config-vue/index.js
  packages/eslint-config-vue/package.json
  packages/eslint-config-vue/readme.md
  packages/stylelint-config/package.json
  packages/vscode-config-base/package.json
  packages/vscode-config-env/package.json
  tests/index.js
  yarn.lock
Due: prettier --write, eslint --fix

Initial commit
  .editorconfig
  .eslintrc
  .gitattributes
  .gitignore
  .lintstagedrc
  .npmrc
  .prettierrc
  LICENSE
  package.json
  packages/cli/index.js
  packages/cli/package.json
  packages/cli/template/editorconfig.ini
  packages/eslint-config-base/index.js
  packages/eslint-config-base/lib/base.js
  packages/eslint-config-base/package.json
  packages/eslint-config-base/readme.md
  packages/eslint-config-react/index.js
  packages/eslint-config-react/package.json
  packages/eslint-config-react/readme.md
  packages/eslint-config-vue/index.js
  packages/eslint-config-vue/package.json
  packages/eslint-config-vue/readme.md
  packages/stylelint-config/index.js
  packages/stylelint-config/package.json
  packages/stylelint-config/readme.md
  packages/stylelint-config/stylelint-order.json
  packages/vscode-config-base/package.json
  packages/vscode-config-env/package.json
  readme.md
  renovate.json
  tests/index.js
  yarn.lock
Due: prettier --write, eslint --fix

Initial commit
  .editorconfig
  .gitattributes
  .gitignore
  .npmrc
  .vscode/settings.json
  LICENSE
  package.json
  packages/eslint-config-base/index.js
  packages/eslint-config-base/lib/base.js
  packages/eslint-config-base/package.json
  packages/eslint-config-base/readme.md
  packages/eslint-config-react/index.js
  packages/eslint-config-react/package.json
  packages/eslint-config-react/readme.md
  packages/eslint-config-vue/index.js
  packages/eslint-config-vue/package.json
  packages/eslint-config-vue/readme.md
  packages/prettier-config/index.js
  packages/prettier-config/package.json
  packages/prettier-config/readme.md
  packages/prettier-plugin-package-json/index.js
  packages/prettier-plugin-package-json/package.json
  packages/prettier-plugin-package-json/readme.md
  packages/stylelint-config/index.js
  packages/stylelint-config/package.json
  packages/stylelint-config/readme.md
  packages/stylelint-config/stylelint-order.json
  packages/vscode-config-base/package.json
  packages/vscode-config-env/package.json
  readme.md
  tests/index.test.js
  yarn.lock
Due: prettier --write, eslint --fix

fix
  package.json
  packages/eslint-config-base/package.json
  packages/eslint-config-react/index.js
  packages/eslint-config-react/package.json
  packages/eslint-config-vue/index.js
  packages/eslint-config-vue/package.json
  packages/prettier-config/package.json
  packages/prettier-config/readme.md
  packages/prettier-plugin-package-json/index.js
  packages/prettier-plugin-package-json/key-order.js
  packages/prettier-plugin-package-json/package.json
  packages/stylelint-config/index.js
  packages/stylelint-config/lib/order.js
  packages/stylelint-config/lib/scss.json
  packages/stylelint-config/package.json
  packages/stylelint-config/readme.md
  packages/stylelint-config/stylelint-order.json
  packages/test/package.json
  packages/vscode-config-base/package.json
  packages/vscode-config-env/package.json
  readme.md
  tests/index.test.js
  tests/test.scss
  yarn.lock
Due: prettier --write, eslint --fix

fix
  package.json
  packages/prettier-config/package.json
  packages/prettier-config/readme.md
  packages/prettier-plugin-package-json/index.js
  packages/prettier-plugin-package-json/key-order.js
  packages/prettier-plugin-package-json/package.json
  packages/prettier-plugin-package-json/readme.md
  readme.md
  tests/index.test.js
Due: prettier --write, eslint --fix

fix
  package.json
  packages/prettier-config/package.json
  packages/prettier-config/readme.md
  packages/prettier-plugin-package-json/key-order.js
  packages/prettier-plugin-package-json/package.json
  packages/prettier-plugin-package-json/readme.md
  yarn.lock
Due: prettier --write, eslint --fix

fix
  package.json
  packages/stylelint-config/index.js
  packages/stylelint-config/lib/order.js
  packages/stylelint-config/package.json
  packages/stylelint-config/readme.md
  yarn.lock
Due: prettier --write, eslint --fix

fix
  .best-shot/config.js
  .best-shot/nodemon.json
  .browserslistrc
  .eslintignore
  .gitignore
  .prettierignore
  .stylelintignore
  loader/index.js
  loader/package.json
  package.json
  packages/cli/index.js
  packages/cli/package.json
  packages/eslint-config-base/index.js
  packages/eslint-config-base/package.json
  packages/eslint-config-react/index.js
  packages/eslint-config-react/package.json
  packages/eslint-config-vue/index.js
  packages/eslint-config-vue/package.json
  rules/eslint-config-base.json
  rules/eslint-config-react.json
  rules/eslint-config-vue.json
  tests/test.scss
  viewer/.eslintrc.json
  viewer/app.jsx
  viewer/index.js
  viewer/index.scss
  viewer/index.tpl
  yarn.lock
Due: prettier --write, eslint --fix

fix
  packages/stylelint-config/index.js
  packages/stylelint-config/lib/order.js
  packages/stylelint-config/lib/scss.json
  packages/stylelint-config/package.json
  packages/stylelint-config/readme.md
Due: prettier --write, eslint --fix

fix
  packages/cli/config.json
  packages/cli/index.js
  packages/cli/package.json
  packages/cli/readme.md
Due: prettier --write, eslint --fix

fix
  packages/stylelint-config/index.js
  packages/stylelint-config/lib/scss.json
  packages/stylelint-config/lib/stylelint-logo.svg
  packages/stylelint-config/package.json
  packages/stylelint-config/readme.md
Due: prettier --write, eslint --fix

fix
  package.json
  packages/stylelint-config/index.js
  packages/stylelint-config/lib/base.js
  packages/stylelint-config/lib/order.js
  packages/stylelint-config/lib/other.js
  packages/stylelint-config/lib/prefix.json
  packages/stylelint-config/lib/scss.json
  packages/stylelint-config/lib/stylelint-logo.svg
  packages/stylelint-config/package.json
  packages/stylelint-config/scss.js
Due: prettier --write, eslint --fix

fix
  package.json
  packages/stylelint-config/index.js
  packages/stylelint-config/lib/base.js
  packages/stylelint-config/scss.js
Due: prettier --write, eslint --fix

fix
  package.json
  packages/cli/config.json
  packages/stylelint-config/index.js
  packages/stylelint-config/package.json
  yarn.lock
Due: prettier --write, eslint --fix

fix
  packages/stylelint-config/index.js
  packages/stylelint-config/lib/scss.js
  packages/stylelint-config/package.json
Due: prettier --write, eslint --fix

Stylelint v11 support
  package.json
  packages/cli/index.js
  packages/cli/package.json
  packages/cli/readme.md
  packages/stylelint-config/index.js
  packages/stylelint-config/lib/order.js
  packages/stylelint-config/package.json
  packages/test/package.json
  yarn.lock
Due: prettier --write, eslint --fix

fix
  package.json
  packages/cli/index.js
  packages/cli/package.json
  packages/eslint-config-base/lib/eslint-logo.svg
  packages/test/package.json
  viewer/index.scss
  yarn.lock
Due: prettier --write, eslint --fix

fix
  package.json
  packages/cli/package.json
  yarn.lock
Due: prettier --write

fix
  packages/cli/config.json
  packages/cli/package.json
  packages/prettier-config/package.json
  packages/prettier-config/readme.md
Due: prettier --write

fix
  .vscode/settings.json
  loader/package.json
  packages/stylelint-config/index.js
  packages/stylelint-config/lib/other.js
  packages/stylelint-config/package.json
Due: prettier --write, eslint --fix

fix
  loader/index.js
  loader/package.json
  package.json
  packages/cli/index.js
  packages/cli/package.json
Due: prettier --write, eslint --fix

fix
  packages/stylelint-config/index.js
  packages/stylelint-config/package.json
  packages/stylelint-config/readme.md
Due: prettier --write, eslint --fix

core
  package.json
  packages/prettier-config/package.json
  packages/prettier-config/readme.md
  packages/prettier-plugin-package-json/key-order.js
  packages/prettier-plugin-package-json/package.json
  yarn.lock
Due: prettier --write, eslint --fix

fix
  package.json
  packages/stylelint-config/index.js
  packages/stylelint-config/lib/scss.js
  packages/stylelint-config/lib/stylelint-logo.svg
  packages/stylelint-config/package.json
  packages/stylelint-config/readme.md
  packages/test/package.json
  yarn.lock
Due: prettier --write, eslint --fix

fix
  .stylelintignore
  config/hot-fix.js
  package.json
  packages/stylelint-config/index.js
  packages/stylelint-config/lib/ignore.js
  packages/test/package.json
  yarn.lock
Due: prettier --write, eslint --fix

Create installable.yaml
  .github/workflows/installable.yaml
Due: none

fix
  .github/workflows/installable.yaml
  package.json
  packages/cli/package.json
  packages/eslint-config-base/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-vue/package.json
  packages/prettier-config/package.json
  packages/prettier-plugin-package-json/package.json
  packages/stylelint-config/package.json
  yarn.lock
Due: prettier --write

Update installable.yaml
  .github/workflows/installable.yaml
Due: none

fix
  packages/cli/config.json
  packages/cli/package.json
  packages/cli/readme.md
  packages/eslint-config-react/package.json
Due: prettier --write

fix
  packages/prettier-config/package.json
  packages/prettier-config/readme.md
  packages/prettier-plugin-package-json/index.js
  packages/prettier-plugin-package-json/key-order.js
  packages/prettier-plugin-package-json/package.json
  packages/prettier-plugin-package-json/readme.md
  packages/stylelint-config/package.json
  packages/stylelint-config/readme.md
  yarn.lock
Due: prettier --write, eslint --fix

fix
  package.json
  packages/eslint-config-base/index.js
  packages/eslint-config-base/lib/base.js
  packages/eslint-config-base/lib/eslint-logo.svg
  packages/eslint-config-base/package.json
  packages/eslint-config-base/readme.md
  yarn.lock
Due: prettier --write, eslint --fix

fix
  packages/eslint-config-react/index.js
  packages/eslint-config-react/package.json
  packages/eslint-config-vue/index.js
  packages/eslint-config-vue/package.json
  packages/test/package.json
Due: prettier --write, eslint --fix

fix
  package.json
  packages/eslint-config-base/index.js
  packages/eslint-config-base/lib/base.js
  packages/eslint-config-base/package.json
  packages/eslint-config-react/index.js
  packages/eslint-config-react/package.json
  packages/eslint-config-react/readme.md
  packages/eslint-config-vue/index.js
  packages/eslint-config-vue/package.json
  packages/eslint-config-vue/readme.md
Due: prettier --write, eslint --fix

fix
  .best-shot/config.js
  .best-shot/nodemon.json
  .browserslistrc
  .eslintignore
  loader/package.json
  package.json
  packages/eslint-config-base/index.js
  packages/eslint-config-base/package.json
  packages/eslint-config-base/readme.md
  packages/eslint-config-react/index.js
  packages/eslint-config-react/package.json
  packages/eslint-config-vue/index.js
  packages/eslint-config-vue/package.json
  rules/eslint-config-base.json
  rules/eslint-config-react.json
  rules/eslint-config-vue.json
  viewer/.eslintrc.json
  viewer/app.jsx
  viewer/index.js
  viewer/index.tpl
  yarn.lock
Due: prettier --write, eslint --fix

Unit test
  .github/workflows/test.yaml
  package.json
  packages/eslint-config-base/index.js
  packages/eslint-config-base/package.json
  packages/eslint-config-react/index.js
  packages/eslint-config-react/package.json
  packages/eslint-config-vue/index.js
  packages/eslint-config-vue/package.json
  readme.md
  tests/eslint-config.test.js
  tests/prettier-plugin.test.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: **/*.js) or (any of: **/*.{json,md})) or (any of: .{eslint,prettier,lintstaged}rc)
  eslint --fix: any of: **/*.js
