Repository nice-move/nice-move: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "**/*.js": [
    "prettier --write",
    "eslint --fix"
  ],
  "**/*.{json,md}": [
    "prettier --write"
  ],
  ".{eslint,prettier,lintstaged}rc": [
    "prettier --write"
  ]
}

revert(cli): yarn-deduplicate --includePrerelease
  packages/cli/package.json
Due: prettier --write

feat(eslint-config): auto detect electron
  packages/eslint-config-base/index.js
  packages/eslint-config-base/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-vue/package.json
  yarn.lock
Due: prettier --write, eslint --fix

fix(prettier-config): xml format
  packages/prettier-config/index.js
  packages/prettier-config/package.json
  packages/prettier-config/readme.md
Due: prettier --write, eslint --fix

feat(eslint-config): disable no-template-curly-in-string
  packages/eslint-config-base/lib/base.js
  packages/eslint-config-base/package.json
  packages/eslint-config-react/lib/react.js
  packages/eslint-config-react/package.json
Due: prettier --write, eslint --fix

docs(prettier-plugin-package-json): readme update
  package.json
  packages/prettier-plugin-package-json/package.json
  packages/prettier-plugin-package-json/readme.md
  yarn.lock
Due: prettier --write

fix(prettier-config): Add xmlWhitespaceSensitivity: 'ignore'
  packages/prettier-config/index.js
  packages/prettier-config/package.json
  tests/prettier-plugin.test.mjs
  yarn.lock
Due: prettier --write, eslint --fix

chore(git): add `commitlint`
  package.json
  tools/eslint-inspector/package.json
  yarn.lock
Due: prettier --write

ci: fix workflow installation
  package.json
Due: prettier --write

Add license scan report and status (#15)
  readme.md
Due: prettier --write

docs: readme badge
  readme.md
Due: prettier --write

feat(cli): add prompt
  .editorconfig
  package.json
  packages/cli/cmd/init.js
  packages/cli/cmd/init/gitignore.js
  packages/cli/cmd/init/index.js
  packages/cli/cmd/init/license.js
  packages/cli/cmd/init/package.js
  packages/cli/cmd/init/registry.js
  packages/cli/index.js
  packages/cli/lib/index.js
  packages/cli/package.json
  packages/cli/template/.editorconfig.tpl
  packages/cli/template/package.tpl.json
  yarn.lock
Due: prettier --write, eslint --fix

fix(cli): init command
  packages/cli/cmd/init/package.js
  packages/cli/package.json
Due: prettier --write, eslint --fix

fix(prettier-config): `.yarnrc` error
  packages/prettier-config/index.js
  packages/prettier-config/package.json
  packages/prettier-config/readme.md
  yarn.lock
Due: prettier --write, eslint --fix

feat(eslint-config): react new JSX transform
  packages/eslint-config-base/package.json
  packages/eslint-config-react/lib/react.js
  packages/eslint-config-react/package.json
  packages/eslint-config-vue/package.json
  tools/test/package.json
  yarn.lock
Due: prettier --write, eslint --fix

feat(cli): init support publishConfig
  packages/cli/cmd/init/package.js
  packages/cli/package.json
Due: prettier --write, eslint --fix

feat(commitlint-config): initial commit
  package.json
  packages/commitlint-config/index.js
  packages/commitlint-config/package.json
  packages/commitlint-config/readme.md
  readme.md
  yarn.lock
Due: prettier --write, eslint --fix

feat(cli): @nice-move/commitlint-config
  packages/cli/cmd/init/package.js
  packages/cli/package.json
Due: prettier --write, eslint --fix

feat(cli): init command support `access:public`
  package.json
  packages/cli/cmd/init/package.js
  packages/cli/cmd/init/registry.js
  packages/cli/package.json
  yarn.lock
Due: prettier --write, eslint --fix

feat(eslint-config): `best-shot/preset-env` support
  packages/eslint-config-base/lib/base.js
  packages/eslint-config-base/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-vue/package.json
  tests/eslint-config.test.js
Due: prettier --write, eslint --fix

feat(eslint-config-react): ignore some prop-types missing
  packages/eslint-config-react/lib/react.js
  packages/eslint-config-react/package.json
Due: prettier --write, eslint --fix

feat(cli): remove `.yarnrc` format support
  packages/cli/cmd/init/package.js
  packages/cli/cmd/lint.js
  packages/cli/package.json
Due: prettier --write, eslint --fix

feat(eslint-config): prepare eslint@7
  .gitignore
  config/inspect.js
  package.json
  packages/eslint-config-base/index.js
  packages/eslint-config-base/lib/base.js
  packages/eslint-config-base/lib/import.js
  packages/eslint-config-base/lib/unicorn.js
  packages/eslint-config-base/other/for-6.js
  packages/eslint-config-base/package.json
  packages/eslint-config-react/index.js
  packages/eslint-config-react/package.json
  packages/eslint-config-vue/index.js
  packages/eslint-config-vue/package.json
  tests/eslint-config.test.js
  tools/eslint-inspector/index.js
  tools/eslint-inspector/package.json
  tools/test/package.json
  yarn.lock
Due: prettier --write, eslint --fix

test: inspector
  .gitignore
  config/inspect.js
  nodemon.json
  package.json
  packages/eslint-config-react/index.js
  packages/eslint-config-vue/index.js
  tests/eslint-config.test.js
  tools/eslint-inspector/index.js
  tools/eslint-inspector/package.json
Due: prettier --write, eslint --fix

feat(eslint-config): only allow node in cjs/mjs
  .github/workflows/test.yaml
  packages/eslint-config-base/for-6/node.cjs
  packages/eslint-config-base/for-6/promise.cjs
  packages/eslint-config-base/index.cjs
  packages/eslint-config-base/lib/base.cjs
  packages/eslint-config-base/lib/html.cjs
  packages/eslint-config-base/lib/html.js
  packages/eslint-config-base/lib/import.cjs
  packages/eslint-config-base/lib/markdown.cjs
  packages/eslint-config-base/lib/target.cjs
  packages/eslint-config-base/lib/unicorn.cjs
  packages/eslint-config-base/package.json
  packages/eslint-config-react/index.cjs
  packages/eslint-config-react/lib/babel.cjs
  packages/eslint-config-react/lib/react.cjs
  packages/eslint-config-react/package.json
  packages/eslint-config-vue/index.cjs
  packages/eslint-config-vue/lib/babel.cjs
  packages/eslint-config-vue/lib/vue.cjs
  packages/eslint-config-vue/lib/vue.js
  packages/eslint-config-vue/package.json
  tests/eslint-config.test.cjs
  tools/eslint-inspector/index.cjs
  tools/eslint-inspector/package.json
Due: prettier --write, eslint --fix

feat(eslint-config): remove `babel-eslint`
  package.json
  packages/eslint-config-base/index.cjs
  packages/eslint-config-react/index.cjs
  packages/eslint-config-react/lib/babel.cjs
  packages/eslint-config-react/lib/react.cjs
  packages/eslint-config-react/package.json
  packages/eslint-config-vue/index.cjs
  packages/eslint-config-vue/lib/babel.cjs
  packages/eslint-config-vue/lib/vue.cjs
  packages/eslint-config-vue/package.json
  tests/eslint-config.test.cjs
  tools/eslint-inspector/index.cjs
Due: prettier --write

feat(eslint-config): add promise back
  package.json
  packages/eslint-config-base/index.cjs
  packages/eslint-config-base/lib/promise.cjs
  packages/eslint-config-base/package.json
  yarn.lock
Due: prettier --write

fix(eslint-config): markdown code
  package.json
  packages/eslint-config-base/index.cjs
  packages/eslint-config-base/lib/markdown.cjs
  packages/eslint-config-react/index.cjs
  packages/eslint-config-vue/index.cjs
Due: prettier --write

feat(eslint-config): add node config
  packages/eslint-config-base/for-6/node.cjs
  packages/eslint-config-base/index.cjs
  packages/eslint-config-base/lib/base.cjs
  packages/eslint-config-base/lib/markdown.cjs
  packages/eslint-config-base/lib/node.cjs
  tools/eslint-inspector/index.cjs
  yarn.lock
Due: none

ci(sync): remove
  .github/workflows/sync.yaml
  .npmrc
  tools/test/package.json
  yarn.lock
Due: prettier --write

docs(eslint-config): readme
  packages/eslint-config-base/lib/node.cjs
  packages/eslint-config-base/package.json
  packages/eslint-config-base/readme.md
  tests/eslint-config.test.cjs
Due: prettier --write

feat(eslint-config): allow `global-require`
  packages/eslint-config-base/index.cjs
  packages/eslint-config-base/lib/base.cjs
  packages/eslint-config-base/lib/node.cjs
  packages/eslint-config-base/lib/target.cjs
  packages/eslint-config-react/lib/react.cjs
  packages/eslint-config-vue/index.cjs
Due: none

feat(eslint-config): pin node version
  .github/workflows/test.yaml
  packages/eslint-config-base/lib/node.cjs
  packages/eslint-config-base/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-vue/package.json
Due: prettier --write

feat(eslint-config): disable duplicate rules
  packages/eslint-config-base/index.cjs
  packages/eslint-config-base/lib/base.cjs
  packages/eslint-config-base/lib/node.cjs
Due: none

feat(cli): eslint@7 support
  packages/cli/cmd/init/index.cjs
  packages/cli/cmd/init/package.cjs
  packages/cli/cmd/init/registry.cjs
  packages/cli/index.cjs
  packages/cli/package.json
  yarn.lock
Due: prettier --write

feat(eslint-config): disable `import/no-dynamic-require`
  .github/workflows/test.yaml
  packages/eslint-config-base/lib/base.cjs
  packages/eslint-config-base/lib/import.cjs
  packages/eslint-config-base/lib/target.cjs
  packages/eslint-config-base/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-vue/index.cjs
  packages/eslint-config-vue/package.json
Due: prettier --write

feat(init): add cli
  packages/cli/cmd/init.cjs
  packages/cli/cmd/lint.cjs
  packages/cli/index.cjs
  packages/cli/package.json
  packages/init/bin/index.cjs
  packages/init/index.cjs
  packages/init/lib/gitignore.cjs
  packages/init/lib/license.cjs
  packages/init/lib/package.cjs
  packages/init/lib/registry.cjs
  packages/init/lib/utils.cjs
  packages/init/package.json
  packages/init/readme.md
  packages/init/template/.editorconfig.tpl
  packages/init/template/.gitattributes.tpl
  packages/init/template/mit.tpl
  packages/init/template/unlicense.tpl
  yarn.lock
Due: prettier --write

feat(lint): add cli
  package.json
  packages/cli/cmd/init.cjs
  packages/cli/cmd/lint.cjs
  packages/lint/index.cjs
  packages/lint/lib/utils.cjs
  packages/lint/lib/yarn.cjs
  packages/lint/package.json
  packages/lint/patch/stylelint.cjs
  yarn.lock
Due: prettier --write

fix(lint): add bin bash
  packages/cli/package.json
  packages/lint/bin/index.cjs
  packages/lint/index.cjs
  packages/lint/package.json
  packages/lint/readme.md
  readme.md
  yarn.lock
Due: prettier --write

docs(eslint-config): readme
  package.json
  packages/eslint-config-base/package.json
  packages/eslint-config-base/readme.md
  packages/eslint-config-react/index.cjs
  packages/eslint-config-react/package.json
  packages/eslint-config-react/readme.md
  packages/eslint-config-vue/index.cjs
  packages/eslint-config-vue/package.json
  packages/eslint-config-vue/readme.md
  yarn.lock
Due: prettier --write
